<h1><%= @artist.name %></h1>
<img src="<%= @artist.photo_url %>" />
<p>Genre: <%= @artist.genre %></p>
<h2>Songs:</h2>

<%= render "list_song_info" %>

<br/>

<%= link_to "Add Song", new_artist_song_path(@artist, @song) %>

<br/>

<%= link_to "Artists Home", artists_path %>


