<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Sex: <%= @user.sex %></li>
  <li>DOB: <%= @user.date_of_birth %></li>
  <li>Facebook: <%= @user.facebook_link %></li>
</ul>

<a href="/users/<%= @user.id %>/edit">Edit Profile</a>

<br/><br/>

<form action="/users/<%= @user.id %>" method="POST" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="DELETE" />
  <button>Delete Account</button>
</form>

<%= debug @user %>