<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Sex: <%= @user.sex %></li>
  <li>DOB: <%= @user.date_of_birth %></li>
  <li>Facebook: <%= @user.facebook_link %></li>
</ul>

<%= link_to "Edit Profile", edit_user_path(@user) %>

<br/><br/>

<%= form_for @user, method: :delete do |f| %>
  <%= f.submit "Delete User" %>
<% end %>

<%= debug @user %>