<!DOCTYPE html>
<html>
<head>
  <title>Tunr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= link_to "Home", root_path %>
  <p><%= link_to "Please log in!", login_path if session[:user_id].nil? %></p>
  <p><%= link_to "Log Out #{User.find(session[:user_id]).first_name}", session_path, method: "delete" unless session[:user_id].nil? %></p>
</header>

<%= yield %>

<p>Session:</p>
<%= debug session.to_hash %>
<br/>

</body>
</html>
